__pycache__/
*.pyc
bbox_gt_vis/
discussion_figures/
fonts/
full_gt_pages/
full_gt_pages_merged/
gt_pages/
gt_pages_q/
reading_order_data/
split_gt_pages/
簡易セット/
bert/
kenlm/
ku_bert_wwm/
nanoGPT/
outputs/
rag/
runs/
xy-cut/
gt_perfect_pages/

char_kenlm.arpa
char_kenlmo3.arpa
handchar_kenlmo3_rev.arpa
handchar_kenlmo5.arpa
handchar_kenlmo3.arpa
handchar_kenlmo3_rev.txt
handchar_kenlmo5.txt
handchar_kenlmo3.txt
kenlm.txt
train_charo3.txt

openaitest.py
eval_chatgpt_noRAG.py
eval_chattest.py
eval_bert_val.py
eval_kenlm_bi.py
eval_kenlm_val.py
eval_kenlm_then_bert_val.py
gurahu.py
makegtpage.py
makegtpagesq.py
re_train.py
train_full.py
verify_all.py
split_gt_pages.py
maketrainchunks.py
test.py
insertspace.py
make_gt_from_transcription.py
makegtpagesqq.py
split_merged_gt_by_csv.py
xycut.py
csv_img_bbox.py
effi_train.pyhandtrain_charo3_rev.txt
xycut.py 
kenlm.txt 
eval_kenlm.py 
eval_bert.py
 checkbbox.py